.profile{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    gap:30px;
}
.profile img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
    margin: 10px;
}